$font-color: #ffffff;
$font-color-secondary: #767A7B;
$font-color-rare: #A8BCBC;
$font-color-rare2: #46676F;
$main-color: #212C2E;
$font-police: 'Cabin', sans-serif;
$font-police-secondary: 'Open Sans', sans-serif;
$font-police-last: 'M PLUS Rounded 1c', sans-serif;